**/.DS_Store
**/.Python
**/.dockerignore
**/.gitignore
**/.pylintrc
**/Dockerfile
**/docker-compose.yaml
**/requirements-*

**/__pycache__
**/*.pyc

**/.git
**/.scrapy
**/bin
**/examples
**/include
**/lib
**/src
**/share
**/tmp

**/feeds
**/results
**/models
**/models_old
**/scripts
**/index.sh
**/tag.sh

**/elasticsearch
**/kibana
**/logstash

**/old
**/output
**/images

**/*.csv
**/*.md
