# environment variables
LOG_LEVEL=DEBUG
LOG_SCRAPED_ITEMS=0
FEED_EXPORT_FILE_SUFFIX=<hostname>
# Scrape premium users
SCRAPE_PREMIUM_USERS_LIST=
SCRAPE_PREMIUM_USERS_CONFIG_DIR=
SCRAPE_PREMIUM_USERS_INTERVAL=1800
SCRAPE_PREMIUM_USERS_PREVENT_RESCRAPE_FOR=10800
# BGG username and password
BGG_USERNAME=
BGG_PASSWORD=
