[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
awscli = "*"
boto = "*"
dedupe = ">=2.0.0"
google-cloud-pubsub = "*"
jmespath = "*"
pillow = "*"
pympler = "*"
pyspark = "*"
python-dotenv = "*"
pytility = {extras = ["dates"], version = "*"}
pytrie = "*"
pyyaml = "*"
requests = "*"
scrapy = "<2.1.0"
scrapy-extensions = "*"
smart-open = ">=1.8.1"
twisted = "*"
"w3lib" = "*"

[dev-packages]
black = "==19.10b0"
mypy = "*"
psutil = "*"
pylint = "*"
twine = "*"
