[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
boto = "*"
jmespath = "*"
python-dateutil = "*"
requests = "*"
"w3lib" = "*"
Pympler = "*"
Scrapy = "*"
smart_open = "<1.6.0"
Twisted = "*"
pillow = "*"
pyspark = "*"
dedupe = "*"

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"
ipython = "*"
