asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
coremltools==0.8
cryptography==2.2.2
cssselect==1.0.3
decorator==4.3.0
graphviz==0.8.2
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
jmespath==0.9.3
lxml==4.2.1
mxnet==1.1.0.post0
numpy==1.14.2
pandas==0.22.0
parsel==1.4.0
Pillow==5.1.0
prettytable==0.7.2
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.5.0
python-dateutil==2.7.2
pytz==2018.4
queuelib==1.5.0
requests==2.18.4
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
turicreate==4.3.1
Twisted==17.9.0
urllib3==1.22
w3lib==1.19.0
zope.interface==4.4.3
