attrs==16.3.0
cffi==1.9.1
constantly==15.1.0
cryptography==1.6
cssselect==1.0.0
idna==2.1
incremental==16.10.1
lxml==3.6.4
parsel==1.1.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
PyDispatcher==2.0.5
pyOpenSSL==16.2.0
queuelib==1.4.2
Scrapy==1.2.1
service-identity==16.0.0
six==1.10.0
Twisted==16.6.0
w3lib==1.16.0
zope.interface==4.3.2
