asn1crypto==0.24.0
attrs==18.1.0
Automat==0.7.0
boto==2.49.0
boto3==1.7.66
botocore==1.10.66
bz2file==0.98
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.3
cssselect==1.0.3
docutils==0.14
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
jmespath==0.9.3
lxml==4.2.3
parsel==1.5.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.18
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
python-dateutil==2.7.3
queuelib==1.5.0
requests==2.19.1
s3transfer==0.1.13
Scrapy==1.5.1
service-identity==17.0.0
six==1.11.0
smart-open==1.5.7
Twisted==18.7.0
urllib3==1.23
w3lib==1.19.0
zope.interface==4.5.0
