[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
awscli = "*"
boto = "*"
cryptography = "==38.0.4" # https://stackoverflow.com/a/75297940/2634131
dedupe = ">=2.0.0"
gitpython = "*"
google-cloud-pubsub = "*"
itemadapter = "*"
jmespath = "*"
pillow = "*"
pympler = "*"
pyopenssl = "==22.0.0" # https://github.com/scrapy/scrapy/issues/5638
pyspark = "*"
python-dotenv = "*"
pytility = {extras = ["dates"], version = "*"}
pytrie = "*"
pyyaml = "*"
requests = "*"
scrapy = "<2.1.0"
scrapy-extensions = {extras = ["images"], version = ">=0.3.1"}
smart-open = {extras = ["all"], version = ">=1.8.1"}
twisted = "<22.0.0" # https://stackoverflow.com/a/73046084/2634131
"w3lib" = "*"

[dev-packages]
black = "*"
docker = "*"
mypy = "*"
pre-commit = "*"
psutil = "*"
pylint = "*"
pytimeparse = "*"
twine = "*"
