<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>games.recommend.curl_hotness</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/markus/Recommend.Games/board-game-scraper/curl_hotness.sh</string>
        </array>
        <key>StandardOutPath</key>
        <string>/Users/markus/Recommend.Games/board-game-scraper/logs/games.recommend.curl_hotness.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/markus/Recommend.Games/board-game-scraper/logs/games.recommend.curl_hotness.log</string>
        <key>RunAtLoad</key>
        <true/>
        <key>StartInterval</key>
        <!-- Every 2 hours -->
        <integer>7200</integer>
    </dict>
</plist>
